src/node_modules/
src/platforms/
src/package-lock.json
src/report/
src/app/vendor.js
src/app/vendor-platform.ios.js
src/app/vendor-platform.android.js
src/app/shared/services/data/operation.data.service.js
src/app/shared/services/data/category.data.service.js
src/app/shared/pipes/currency-without-symbol.js
src/app/shared/models/synthesis.js
src/app/shared/models/options.js
src/app/shared/models/operation.js
src/app/shared/models/language.js
src/app/shared/models/category.js
src/app/pages/synthesis/synthesis.component.js
src/app/components/datepicker-modalview/datepicker-modalview.js
src/app/app.routing.js
src/app/app.module.js
src/app/app.component.js
src/app/shared/services/translation.service.js
src/app/shared/services/purge.service.js
src/app/shared/services/navigation.service.js
src/app/shared/services/log.service.js
src/app/shared/services/feedback.service.js
src/app/shared/services/export.service.js
src/app/shared/services/db.service.js
src/app/shared/services/data/synthesis.data.service.js
src/app/shared/services/data/options.data.service.js
src/app/pages/options/options.component.js
src/app/pages/operation/operation.component.js
src/app/pages/operation-list/operation-list.component.js
src/app/pages/category/category.component.js
src/app/pages/category-list/category-list.component.js
src/app/pages/about/about.component.js
src/app/pages/ActionBarComponent.js
src/app/main.js
src/app/components/listpicker-modalview/listpicker-modalview.js
